/*--- General ---*/
*{
    font-family: 'Roboto';
    
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header{
    background-color: #fff;
    border-bottom: 1px, solid, black;
}

.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.btn-primary{
    background-color: #353e48;
    border: 2px, solid, #2b323a;
    margin-top: 10px;
}

.btn-primary:hover{
    background-color: #2b323a;
    border-color: #2b323a;
}

.msg{
    background-color: #d4edda;
    color: #155724;
    border: 1px solid#c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    transition-duration: 3s ;
}

.msg-negative{
    background-color: #cc1100;
    color: #ffff;
    border: 1px solid#cc1100;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    transition-duration: 3s ;
}

/*---navegação---*/


#navbar img{
    width: 150px;
}

#navbar{
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0;
}


#navbar a {
    font-size: 20px;
    color: #757575;
}

#navbar a:hover{
    color:#fff;
    transition-delay: 250ms;
    transition-property: color;
    transition-duration: 250ms;
    background-color: #5e5c5c;
    transition-behavior: 250ms;
    border-radius: 10px;
}

ul.nav-bar{
    list-style:none;
}

ul.navbar-nav li{
    display: inline-block;
    padding: 0 0.5rem;
    min-width: 8rem;
    text-align: center;
}

/*--- navegação secundaria ---*/

#navbar-secondary{
    justify-content: space-between;
    height: 40px;
    background-color: #5e5c5c;
    justify-content: center;
    align-items: center;
}


#navbar-secondary a{
    font-size: 15px;
    color: #fff;
}

#navbar-secondary a:hover{
    color: #131313;
    background-color: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-behavior: 250ms;
    border-radius: 10px;
}

ul.navbar-secondary{
    list-style:none;
}

ul.navbar-nav-secondary li{
    display: list-item;
    list-style: none;
    padding: 0 0.5rem;
    min-width: 8rem;
    text-align: center;
    margin-top: 8%;
}


/*---Search container ---*/
#search-container{
    background-image: url("../img/dicas-de-viagem.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 400px;
    text-align: center;
    border-bottom: 10px;
}


 h1{
    color: #353e48;
    margin-bottom: 30px;
    font-weight: 900;
    text-align: center;
}

#search-container form{
    width: 500px;
    margin: 0 auto;
}

#cards-container{
    margin: 10px 0;
}

/*---dados da empresa ---*/

#data-container{
    padding: 50px;
}

#data-container h2{
    margin-bottom: 10px;
}

#data-container .subtitle{
    color: #5e5c5c;
    margin-bottom: 30px;
}

#cards-container{
    display: flex;
}

#data-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

#data-container img{
    max-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date, .card-year, .card-driver, .card-car, .card-cnh, .card-end, .card-travel{
    font-size:16px;
    color: #2b2a2a;
}

.card .card-model .card-name {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}    
/*---Event create page---*/
#travels-create-container{
    padding: 30px;
}

#travels-create-container label{
    font-weight: bold;
    margin: 5px;
}

#travels-create-container input,
#travels-create-container select,
#travels-create-container textarea{
    font-size: 12px;
} 

.form-group{
    margin: 10px 0;
}

/*---Dados motorista-veiculos-viagem---*/

#image-container,
#info-container{
    margin-top:30px;
}

#image-container{
    margin-bottom: 10px;
}

#info-container h1{
    font-size: 30px;
    font-weight: 900;
}

#info-container p{
    margin: 0;
    font-size: 14px;
    display:flex;
}

#info-container ion-icon{
    font-size:20px;
    color: #2b323a;
    margin-right: 5px;
}

#image-container img{
    border-radius: 10px;
    max-height: 400px;
    justify-content: center;
}
.img-preview{
    width: 100px;
    margin-top: 20px;
}
/*---Edit Page---*/



/*---Footer---*/
footer{
    text-align: center;
    background-color: #353e48;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    margin-bottom:0;
}